<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcy6NbjNRyzz6JyFwZgnk4aI0sfwslc1E</string>
	<key>GCM_SENDER_ID</key>
	<string>468540968920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imhero</string>
	<key>PROJECT_ID</key>
	<string>i-m-hero-fcc9f</string>
	<key>STORAGE_BUCKET</key>
	<string>i-m-hero-fcc9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468540968920:ios:21480bb71908e556bc2cad</string>
</dict>
</plist>